@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;400&family=Montserrat&family=Syncopate:wght@400;700&display=swap');
nav {
    float: right;
}
.nav-link {
    /* background-color: #cfb9ff; */
}
h1 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #dcff79;
    padding: 20% 0px 0px 7%;
}
/* #bowen {
    padding: 0px 0px 20px 7%; */
/* } */

h2 {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    padding: 5px 5px 5px 7%;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
p {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('assets/bluesky.jpeg'), #dcff79;
    background-repeat: no-repeat;
}

/* .about {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto; */
    /* display: flex;
    align-items: flex-start;
    align-content: stretch;   
    justify-content: space-evenly; */
/* }
#name {
    grid-column: 1 / span 2;
} */
#subhead {
    font-family: 'Syncopate', sans-serif;
    font-weight: 200;
    background-color: #cfb9ff;
    color:black;
    /* grid-column: 1 / span 2;
    grid-row: 4; */
}
#aboutHead {
    /* grid-column: 1 / span 2;
    grid-row: 5; */
}
#aboutP {
    background-color: #dcff79;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    /* grid-column: 1 / span 2;
    grid-row: 6; */
    /* margin: auto;
    padding: 10px;
    /* max-width: 50%; */
}
#pic {
    width: auto;
    height: 50%;
    opacity: 0.9;
    border: 1px solid black;
    box-shadow: 20px 20px black;
    /* grid-column: 3;
    grid-row: 6; */
    /* display: block;
    margin: 20px 100px; */
}
.card-img-overlay {
    transition: .5s ease;
}
.card:hover .card-img-overlay {
  height: 100%;
}
.card-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.card {
    border: 1px solid black;
    box-shadow: 30px 30px #cfb9ff;
    border-radius: 0px;
    width: 75%;
    height: auto;
    margin: 10px auto 80px auto;
    transition: transform .4s;
  }
.card:hover {
      transform: scale(1.04);
  }
.cardImg {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

  form {
    width: 400px;
    background-color: #dcff79;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    padding: 25px;
    margin: 20px;
  }
  input {
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  textarea {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#submit {
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
}
  /* #contact {
    background-color: #dcff79;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    /* margin: 5px 5px 5px 5%;
    padding: 20px;
    max-width: 50%; */

  footer {
    background-color: #cfb9ff;
  }